/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { 
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 21px;
  color: #333333; 
  background-color: #f9f9f9; 
}

@media screen and (max-width: 500px) {
  body{
    font-size: 16px;
    font-weight: 400;
  }
}